<!-- Meedle SEO front -->
{$object_id = {product attr="id"}}
{if $object_id == ''}
	{$object_id = {content attr="id"}}
{/if}
{if $object_id == ''}
	{$object_id = {category attr="id"}}
{/if}
{if $object_id == ''}
	{$object_id = {folder attr="id"}}
{/if}
{loop type="meedleseo" name="meedleseo" oi="{$object_id}" ot="{$object_type}" locale="{$locale}" limit="1" width="400" height="300" resize_mode="borders"}
	{$NOFOLLOW_BALISE nofilter}
	{if $TYPE}
		{$og_type=$TYPE}
	{else}
		{$og_type='article'}
	{/if}
	{$price=''}

	{loop name='loopmeta' type={$VIEW_TYPE} id=$VIEW_ID limit="1"}
		{$title = $TITLE}

		{if $META_DESCRIPTION}
			{$description=$META_DESCRIPTION}
		{elseif $CHAPO}
			{$description=$CHAPO|truncate:150:""}
		{/if}

		{$url={$URL nofilter}}

		{ifloop rel="image"}
			{loop type="image" name="image" source={$VIEW_TYPE} source_id={$ID} width="400" height="300" resize_mode="borders" limit="1"}
				{$image_src = $IMAGE_URL}
			{/loop}
		{/ifloop}

		{if $VIEW_TYPE == 'product'}
			{$price = $PRICE}
			{$og_type='product'}
		{/if}
	{/loop}

	{* Facebook, Pinterest and Google+ tags *}
	<meta property="og:type" content="{$og_type}" />
	{$company_name={config key='opengraph_company_name'}}
	{if not $company_name}{$company_name={config key="store_name"}}{/if}
	{if $company_name}
	<meta property="og:site_name" content="{$company_name}"/>
	{/if}
	<meta property="og:locale" content="{lang attr='locale'}" />
	<meta property="og:url" content="{$url}" />
	<meta property="og:title" content="{$TITLE}" />

	<meta property="og:description" content="{$DESCRIPTION}" />

	{if $IMAGE_URL != ''}
	<meta property="og:image" content="{$IMAGE_URL}" />
	<meta property="og:image:width" content="400" />
	<meta property="og:image:height" content="300" />
	{/if}

	{if $price}
	{* Price tags *}
	<meta property="og:price:amount" content="{format_money number=$price}" />
	<meta property="og:price:currency" content="{currency attr='code'}" />
	{/if}

	{* Twitter tags *}
	<meta name="twitter:card" content="summary" />
	{if {config key='opengraph_twitter_company_name'}}
	<meta name="twitter:site" content="{config key='opengraph_twitter_company_name'}" />
	{/if}
	{if {config key='opengraph_twitter_creator_name'}}
	<meta name="twitter:creator" content="{config key='opengraph_twitter_creator_name'}" />
	{/if}
	<meta name="twitter:title" content="{$TITLE}" />
	{if $IMAGE_URL != ''}
	<meta name="twitter:image" content="{$IMAGE_URL}" />
	{/if}
	<meta name="twitter:description" content="{$DESCRIPTION}" />
{/loop}